@import 'https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap';
@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/light';
@import './themes/blue';

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px; /* ширина scrollbar */
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--primary-color); /* цвет дорожки */
}
*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color); /* цвет плашки */
  border-radius: 20px; /* закругления плашки */
  border: 3px solid var(--primary-color); /* padding вокруг плашки */
}
