@import 'https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap';
@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes//light.scss';

body {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
