.button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.primary {
  font: var(--font-m);
  color: var(--inverted-primary-color);
  border-radius: 5px;
  padding: 10px;
  background-color: var(--primary-orange-color);
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}
