.articleList.GRID {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.articleList.LIST {
  display: flex;
  flex-direction: column;
}

.articleList.GRID.recommendations {
  flex-wrap: nowrap;
}
