.listBoxBtn {
  border: none;
  border-radius: 5px;
}

.options {
  position: absolute;
  left: -45%;
  z-index: var(--popup-z-index);
  background-color: var(--listbox-bg);
  border-radius: 8px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  padding: 5px;
}

.optionItem {
  min-width: 130px;
  padding: 5px 10px;
}

.checkedIcon {
  width: 20px;
  height: 20px;
  fill: var(--primary-color);
  margin-right: 8px;
}

.liItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  border-radius: 5px;
  padding: 2px 5px;
}

.disabled {
  background-color: rgb(138 134 134);
  opacity: 0.7;
}

.labelReadonly {
  color: var(--secondary-color);
}
