.label {
  color: var(--inverted-primary-color);
}

.label.inverted_label {
  color: var(--primary-color);
}

.input {
  border: 2px solid var(--primary-button-bg-color);
  border-radius: 2px;
  min-height: 30px;
  padding: 0 10px;
  outline: none;
  margin-left: 10px;

  &:focus {
    outline: none;
  }
}

.label.readonly {
  color: var(--secondary-color);

  input {
    cursor: default;
    border: none;
    background-color: transparent;
    color: var(--primary-color);
  }
}
