@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/dark.scss";
@import "./themes//light.scss";

.app {
  font: {
    family: $font-family-main;
    size: $font-size-m;
  }
  line-height: $line-height-m;
  min-height: 100vh;
}
