.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  z-index: var(--modal-init-z-index);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.contentWrapper {
  position: absolute;
  bottom: 0;
  z-index: 11;
  left: 50%;
  transition: transform 0.4s;
  transform: translate(-50%, 100%);
  background-color: var(--dropdown-bg);
}

.contentOpen {
  transform: translate(-50%, 0);
}

.contentClosing {
  transform: translate(-50%, 100%);
}
