.app_blue_theme {
  --bg-color: #2179ff;
  --inverted-bg-color: #faf4fb;
  --primary-color: #fff;
  --secondary-color: #f4f7fb;
  --inverted-primary-color: #2179ff;
  --inverted-secondary-color: rgb(66 62 62 / 71.2%);
  --primary-button-bg-color: #00f1f5;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #3881ee;

  // card
  --card-bg: #89b8ff;

  // listbox
  --listbox-bg: #89b8ff;
}
