.app_dark_theme {
  --bg-color: #121212;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #fff;
  --secondary-color: rgb(243 241 241);
  --inverted-primary-color: #121212;
  --inverted-secondary-color: rgb(66 62 62 / 71.2%);
}
