.app.dark {
  --bg-color: #121212;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #fff;
  --secondary-color: #9ce90e;
  --inverted-primary-color: #121212;
  --inverted-secondary-color: #0449e0;
  --navbar-link-primary-color: rgb(245 197 109);
}
