.app_dark_theme {
  --bg-color: #121212;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #fff;
  --secondary-color: rgb(243 241 241 / 67.8%);
  --inverted-primary-color: #121212;
  --inverted-secondary-color: rgb(66 62 62 / 71.2%);

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: #e4e4ee;

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #646060;
}
