.app.light {
  --bg-color: #f8f8ff;
  --inverted-bg-color: #000;
  --primary-color: #000;
  --secondary-color: rgb(94 94 94);
  --inverted-primary-color: #f8f8ff;
  --inverted-secondary-color: #04ff04;
  --navbar-link-primary-color: rgb(250 165 8);
}
