.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  padding: 0 40px;
}

.navbarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogoText {
  font: var(--font-l);
  color: var(--inverted-primary-color);
  margin-left: 15px;
}

.navbarLogoImage {
  width: 50px;
}

.navbarCreateArticle {
  margin-left: auto;
}

.navbarDropdown {
  margin-left: 40px;
}
