.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  padding: 0 40px;
}

.navbarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarLogoText {
  font: var(--font-l);
  color: var(--inverted-primary-color);
  margin-left: 15px;
}

.navbarLogoImage {
  width: 50px;
}

.navbarButtons {
  margin-left: auto;
}

.navbarAvatarDropdown,
.navbarNotificationButton {
  margin-left: 20px;
}

.navbarNotificationButton {
  height: 20px;
}

.navbarNotificationList {
  min-height: 150px;
  max-height: 300px;
  width: 350px;
  padding: 10px;
  overflow-y: auto;
}

.navbarCreateArticle {
  margin-right: 20px;
}
