.profileCard {
  padding: 20px;
  border: 2px solid var(--primary-orange-color);
  max-width: fit-content;
}

.profileHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profileData {
  display: flex;
  flex-direction: column;
}

.profileInput {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
