.commentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &.loading {
    border: none;
  }
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin-top: 10px;
}

.username {
  margin-left: 10px;
}
