.appLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.primary_inverted {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--secondary-color);
}
