.appLink {
  color: var(--primary-color);
  transition: 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

.primary {
  color: var(--primary-color);
}

.primary_inverted {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--secondary-color);
}
